# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.pid.lock

# Environment variables
.env

# IDE/Editor settings
.vscode/
*.swp

# Build files
dist/
build/

# Netlify-specific
.netlify/

firebase-config/serviceAccountKey.json
